.navigation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 1rem;
  }
  
  .navigation-brand {
    padding: 20px;
    color: rgba(218, 226, 227, 1);
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .navigation-links {
    list-style-type: none;
    display: flex;
    gap: 35px;
    padding: 0;
    margin-right: 10px;
    color: rgba(218, 226, 227, 1);
  }
  
  .navigation-links li a {
    cursor: pointer;
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s ease;
    font-weight: bold;
  }
  
  .navigation-links li a:hover {
    color: rgba(181, 22, 253);
  }

  .navigation-container img{

    border-radius: 10px;

  }


  .navigation-container hr{
    width: 100%;
  }

  @media(max-width: 482px){
    
    .navigation-container{
      align-items: center;
    }
    .navigation-links {
      display: flex;
      margin-bottom: -20px;
      flex-direction: row;
      gap: 21px;
    }

    .navigation-links li a{
      font-weight: 250;
    }
  }