.workflow-container {
  padding: 0px;
  box-sizing: border-box;
}

.workflow-content hr{

    width: 100%;
}

.workflow-content {
  display: flex;  
  justify-content: center;
  align-items: self;
  gap: 20px;
  padding: 30px;

}

.workflow-header {
  display: flex;
  max-width: 85%; 
  flex-direction: column;
  gap: 100px; 

}

.workflow-title {
  font-size: 70px;
  color: rgb(230, 231, 231);
  text-align: left;
}

.workflow-description-container {
  display: flex;
  flex-direction: column;
  
}

.workflow-description {
  color: rgba(218, 226, 227, 1);

  font-size: 20px;
  text-align: left; 
  max-width: 600px;
  padding-right: 20px; 
  line-height: 1.6; 
}

.workflow-cards-container {

  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-evenly;
  width: 100%;
  gap:15px;
  max-width: fit-content;
  margin:0 auto;
}



/*  --------------------Tablet------------------------------ */
@media (max-width: 769px) {
  .workflow-title {
    font-size: 55px; 
    margin-bottom: 0px;
   
  }

  .workflow-description {
    font-size: 18px;
    margin-top: 0px;
  }

  .workflow-content{
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
  }


  .workflow-cards-container > * {
    transform: scale(0.95);
  }
  

}



/* ---------------Mobile----------------------- */


@media (max-width: 482px) {


  .workflow-container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .workflow-title{
    font-size: 40px;

  }

  .workflow-description{
    font-size: 16px;
    
  }

  .workflow-cards-container{
    display: flex;
    flex-direction: column;
  }

  
}




